[project]
	description = php app
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/locuzdeveloper
[access "refs/for/refs/*"]
	read = group user/locuzdeveloper
	push = group user/locuzdeveloper
	label-Code-Review = -2..+2 group user/locuzdeveloper
	label-Verified = -1..+1 group user/locuzdeveloper
	rebase = group user/locuzdeveloper
	removeReviewer = group user/locuzdeveloper
	submit = group user/locuzdeveloper
[access "refs/heads/*"]
	read = group user/locuzdeveloper
	create = group user/locuzdeveloper
	push = +force group user/locuzdeveloper
	pushMerge = group user/locuzdeveloper
[access "refs/tags/*"]
	push = +force group user/locuzdeveloper
	pushTag = group user/locuzdeveloper
	pushSignedTag = group user/locuzdeveloper
